.custom-collapse .ant-collapse-content-box {
  padding: 0 !important;
}

.custom-collapse-header {
  border-radius: 6px !important;
  position: relative;
  overflow: hidden;
  cursor: pointer !important;
}
.custom-collapse-header.active {
  background-color: #f2f2f2;
}

.custom-collapse-header:hover {
  background-color: #f5f5f5;
}