
.headerIcon {
  display: flex;
  align-items: center;
  padding: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.userAvatar {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
  gap: 8px;
}

.userAvatar:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.userName {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  height: fit-content;
}
